---
import Logo from '@/components/Logo.astro';

interface Props {
  subtitle: string;
  title: string;
}

const { subtitle, title } = Astro.props;
---

<div class="flex flex-col items-center space-y-8 md:space-y-12">
  <Logo />
  <div class="text-center space-y-2 md:space-y-4">
    <h2 class="text-base md:text-2xl text-white/80 font-normal font-red-hat tracking-wide px-4">
      {subtitle}
    </h2>
    <h1 class="text-xl md:text-4xl font-bold text-white font-red-hat tracking-tight px-4">
      {title}
    </h1>
    <slot />
  </div>
</div> 